# pocketbase development database
pb_data/

# binaries for programs
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## editors
/.idea
/.vscode

## temp folders
/.tmp/
/_site/
/dist/
/out-tsc/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

.terraform
.terraform.lock.hcl
production-plan
